@use 'sass:list';
@use './variables' as *;

/* media query */
@mixin media-query($mq) {
	$breakpoint-found: false; // Loop through the list of breakpoints we've provided in our settings file.
	@each $breakpoint in $breakpoints {
		// Grab the alias and the condition from their respective locations in
		// the list.
		$alias: list.nth($breakpoint, 1);
		$condition: list.nth(
			$breakpoint,
			2
		); // If the media query we've specified has an alias and a condition...
		@if $mq==$alias and $condition {
			// ...tell the mixin that we've found it...
			$breakpoint-found: true; // ...and spit it out here.
			@media #{$condition} {
				@content;
			}
		}
	} // If the user specifies a non-exitent alias, send them a warning.
	@if $breakpoint-found==false {
		@warn "Oops! Breakpoint '#{$mq}' does not exist.";
	}
}

/* border-radius */

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/* transitions time */

@mixin transition($type, $time) {
	-webkit-transition: $type $time ease-in-out;
	-moz-transition: $type $time ease-in-out;
	-o-transition: $type $time ease-in-out;
	transition: $type $time ease-in-out;
}
